
#cv {
	height: 297mm;
	width: 210mm;
	/* to centre page on screen*/
	margin-left: auto;
	margin-right: auto;
	background: green;
}

.block {
	border-left: 10px solid;
	border-radius: 10px;
	width: auto;
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
}

#name {
	width: auto;
	margin-top: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

#profile {
	width: auto;
	display: inline-flex;
	margin-left:10%;
}

#headwrapper {
	width: 100%;
}

@media (min-width: 1025px) {
	#headwrapper {
		display: inline-flex;
	}
}
#education{
	border-left-color: darkblue;
}

#skills{
	border-left-color: darkblue;
}

#workexperiences{
	border-left-color: darkblue;
}

#otherexperiences{
	border-left-color: darkblue;
}

#profileimage {
	height: 250px;	
	border-radius: 10px;
	margin-top: 10px;
}

#info {
	margin-left: 10px;
}

@media (min-width: 1025px) {
	#wrapper {
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 5px;
		border-radius: 10px;
		background-color: white;
	}
}

@media (min-width: 1025px) {
	body {
		background-color: #9e9e9e;
	}
}
